<!doctype html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bio.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav_style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Title of the page-->
<title>Bio Page</title>
<header id="top_head" class="top_header" data-header-fix-moments="500" data-header-fix-effect="slide">
  <!--
      Navigation bar
      ---------------
      Contains Home, About, Resources, Find Support, and Contact US tab 
      -->
  <div class="navigation_bar">
    <div class="menu_options">
      <a href="connect.html">Find Support</a>
      <a href="contact.html">Contact Us</a>
      <a href="bio.html">About</a>
      <a href="main_index.html">Home</a>
    </div>
    <div class="options">
      <!--
            Dropdown button
            ---------------
            Contains resources for mental health and lgbtqi+
            -->
      <button class="dropdown_button">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="resources">
        <a href="support.html">Mental Health Resources</a>
        <a href="lgbtq_and_bully.html">LGBTQI+ Resources</a>
      </div>
    </div>
  </div>
  <br>
  </div>
</header>
<body>
  <!--
         Author description
         ----------
         Contains information on the Author and the doctor consulted
         -->
  <div class="Shreeja">
    <div class="Shreeja_photo">
      <img src="/static/images/Shreeja.png" height=600px width="450px">
    </div>
    <div class="Shreeja_bio">
      <h1>Shreeja Dahal, a senior at Ramapo College of New Jersey</h1>
      <strong>
        <pre>
Shreeja Dahal, born and raised in Nepal is a
senior at Ramapo College of New Jersey, Mahwah,
New Jersey,USA.She is double majoring in
Computer Science and Data Science.Her 
interest areas are machine learning,web 
application development,data analytics, and
data visualization. Shreeja is the designer,
programmer, and the presenter of this project
working in collaboration with Professor Miller
and Dr.Adhikari. Shreeja is fluent in three
languages:English, Nepali, and Hindi. 
During her free time,Shreeja likes to sing 
and try out new recipes. After graduation, 
she aims to go to a graduate school.

													
	<br>
	<br>
	</pre>
      </strong>
    </div>
  </div>
  <hr size="15" width="100%" color=orange>
  <br>
  <br>
  <div class="Subs">
    <div class="Subs_photo">
      <img src="/static/images/Subs.png" height=600px width="450px">
    </div>
    <div class="Subs_bio">
      <h1> Dr.Subarna Adhikari, ER Doctor at UC Davis Medical Center </h1>
      <strong>
        <pre>
Dr.Subarna Adhikari, born and raised in Nepal
is a Resident Doctor at UC Davis Medical
Center,Sacramento,California, USA. 
Dr.Adhikari worked as an Orthopedics Surgeon
at Institude of Medicine(IOM),Nepal before he
joined UC Davis.Dr.Adhikari also has a diploma
in Mountain Medicine and has served as an ER
medical officer at Mt.Everest Base Camp.
For this project,Dr.Adhikari helped
with the collection of questionarries
and in putting together resources where
users can find help.
</pre>
    </div>
  </div>
</body>
</html>
