<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/depression.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <style>
       .navigation_bar{
         height: 65%;
    }
  </style>  
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Title of the page-->
  <title>Depression Test</title>
  <!--
      Navigation bar
      ---------------
      Contains Home, About, Resources, Find Support, and Contact US tab 
      -->
      <div class="navigation_bar">
      <div class="menu_options">
        <a href="connect.html">Find Support</a>
        <a href="contact.html">Contact Us</a>
        <a href="bio.html">About</a>
        <a href="main_index.html">Home</a>
      </div>
      <div class="options">
        <!--
            Dropdown button
            ---------------
            Contains resources for mental health and lgbtqi+
            -->
        <button class="dropdown_button">
          <i class="fa fa-align-justify"></i>
        </button>
        <div class="resources">
          <a href="support.html">Mental Health Resources</a>
          <a href="lgbtq_and_bully.html">LGBTQI+ Resources</a>
        </div>
      </div>
    </div>
    <br>
    </div>
  </header>
  <body>
    <div class="container" id="blur">
      <!--
         Form
         ----------
         Contains questions in a table with slider options to choose from. Uses POST method to send info to
         predict_depression
         -->
      <fieldset class="card" style="width: 600px; margin: 5px 2px 2px 2px auto;">
        <form action="{{url_for('predict_depression')}}" method="POST">
          <div class="description"> How many times, in the past week have you felt the following: <br>
            <br>
            <br>
            <div class="questions">
              <label for="Fn">Little interest or pleasure in doing things</label>
              <br> 
              0 <input type="range" class="form-control" id="Fn" name="Fn" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <label for="Wo">Feeling down, depressed, or hopeless</label>
              <br>
               0 <input type="range" class="form-control" id="Wo" name="Wo" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <label for="Wt">Trouble falling or staying asleep, or sleeping too much</label>
              <br> 
              0 <input type="range" class="form-control" id="Wt" name="Wt" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <label for="Tr">Feeling tired or having little energy</label>
              <br> 
              0 <input type="range" class="form-control" id="Tr" name="Tr" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <label for="Re">Poor appetite or overeating</label>
              <br>
               0 <input type="range" class="form-control" id="Re" name="Re" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <label for="Ai">Feeling bad about yourself or that you are a failure or have let yourself or your family down</label>
              <br> 
              0 <input type="range" class="form-control" id="Ai" name="Ai" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <label for="Tc">Trouble concentrating on things, such as reading the newspaper or watching television</label>
              <br>
               0 <input type="range" class="form-control" id="Tc" name="Tc" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <label for="Ms">Moving or speaking so slowly that other people could have noticed. Or the opposite being so figety or restless that you have been moving around a lot more than usual</label>
              <br> 
              0 <input type="range" class="form-control" id="Ms" name="Ms" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <label for="Tb">Thoughts that you would be better off dead, or of hurting yourself</label>
              <br>
              0 <input type="range" class="form-control" id="Tb" name="Tb" min="0" max="3" required>3
              <hr class="dashed" style="width:50% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              <div id="myBtn">
                <input class="result_button" type="submit" value="Submit">
                <hr class="dashed" style="width:70% dashed;text-align:left;margin-left:0; border-top: 1px dotted; color:lavenderblush">
              </div>
              <br>
              <br>
              <!--Prediction Result-->
              <div class="success">
                {{success}}
              </div>
              <div id="myMain">
                <input id="showPopupBtn" class="result_button" type="button" value="Result">
              </div>
            </div>
        </form>
      </fieldset>
    </div>
    <!--
         Popup message
         --------------
         Contains the result of the test and provides resources
         Stays hidden until the submit button is hit
      -->
    <div id="popup" class="pop-up" hidden="true">
      {{result}}
      <p>Depression (major depressive disorder) is a common and serious medical illness that negatively affects how you feel, the way you think and how you act. Find some excellent resources <a href="mental_health_resources.html"> here! </p>
      </a>
      <button id="closePopupBtn">CLOSE</button>
    </div>
    <!--
       footer message
       ----------------
       Disclaimer: The contents on the website if for general awareness only 
       Author contact information
   -->
    <footer id="footer">
      <strong>
        <p>If you are experiencing a life-threating emergency, <br> please exit out of the website and call (100) to connect to the nearest Police Office. <br> Nirvan does not endorse or recommend any health workers or agencies. <br> The contents on this website are for educational purposes only and <br> are not intended to be a substitute for a professional diagnosis or treatment. </p>
        <p>Author: Shreeja Dahal <br>
      </strong>
      <p>Contact Info: <a href="mailto:sdahal2@ramapo.edu">Email</a>
        <a href="https://github.com/ShreejaDahal">Github</a>
        <a href="https://www.linkedin.com/in/shreeja-dahal/">LinkedIn</a>
      </p>
    </footer>
    <script src="static/js/popups.js" type="text/javascript"></script>
  </body>
</html>
