<html lang = "en">
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/support_style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav_style.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   </head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--Title of the page-->
   <title>Support Groups</title>
   <header id ="top_head" class = "top_header" data-header-fix-moments ="500" data-header-fix-effect ="slide">
       <!--
      Navigation bar
      ---------------
      Contains Home, About, Resources, Find Support, and Contact US tab 
      -->
      <div class="navigation_bar">
      <div class="menu_options">
        <a href="connect.html">Find Support</a>
        <a href="contact.html">Contact Us</a>
        <a href="bio.html">About</a>
        <a href="main_index.html">Home</a>
      </div>
      <div class="options">
        <!--
            Dropdown button
            ---------------
            Contains resources for mental health and lgbtqi+
            -->
        <button class="dropdown_button">
          <i class="fa fa-align-justify"></i>
        </button>
        <div class="resources">
          <a href="support.html">Mental Health Resources</a>
          <a href="lgbtq_and_bully.html">LGBTQI+ Resources</a>
        </div>
      </div>
    </div>
    <br>
    </div>
   </header>
   <body>
      <!--
         Columns
         ----------
         Contains columns of lgbtqi+ and bully resources 
      -->
      <div class ="support">
         <img src = "static/images/new_support.png">
         <div class ="intro">
            <p>Articles, Support Groups, and Videos can be great ways to learn about mental health issues,connect with others, and find support. </p>
         </div>
      </div>
      <br>
      <br>
      <br>
      <div class ="info_row">
         <strong>
            <p>Articles</p>
         </strong>
         <div class="column">
            <a target="_blank" href="https://www.equaldex.com/region/nepal">
            <img src="static/images/lgbtq1.png" height="400px" width="400px" ></a>
            <div class ="description">LGBTQI+ Rights in Nepal</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.devex.com/organizations/blue-diamond-society-80671">
            <img src="static/images/lgbtq2.png"height="400px" width="400px"></a>
            <div class ="description">Blue Diamond Society</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.verywellfamily.com/plan-for-standing-up-to-bullying-460810">
            <img src="static/images/bully1.png"height="400px" width="400px"></a>
            <div class ="description">Stand up to your bully</div>
         </div>
         <hr size="10" width="100%" color=azure>
         <strong>
            <p>Facebook Groups</p>
         </strong>
         <div class="column">
            <a target="_blank" href="https://www.facebook.com/LGBTTQQIAAP/">
            <img src="static/images/lgbtq3.png" height="400px" width="400px" ></a>
            <div class ="description">LQBTQI Facebook Group</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.equaldex.com/organizations/nepal">
            <img src="static/images/lgbtq4.png"height="400px" width="400px"></a>
            <div class ="description">Equaldex Nepal</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.facebook.com/bds.org.np/">
            <img src="static/images/lgbtq5.png"height="400px" width="400px"></a>
            <div class ="description">Blue Diamond Society</div>
         </div>
         <br>
         <br>
         <br>
         <hr size="10" width="100%" color=azure>
         <strong>
            <p>Awareness Videos</p>
         </strong>
         <div class="column">
            <a target="_blank" href="https://www.youtube.com/results?search_query=protect+yourself+from+bullies">
            <img src="static/images/bully2.png" height="400px" width="400px" ></a>
            <div class ="description">Deal with bullies</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.youtube.com/results?search_query=gender+identity+explained">
            <img src="static/images/lgbtq6.png"height="400px" width="400px"></a>
            <div class ="description">Gender Identity Explained</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.facebook.com/StopBullying.Gov">
            <img src="static/images/bully3.png"height="400px" width="400px"></a>
            <div class ="description">StopBullying.Gov</div>
         </div>
         <br>
         <br>
         <br>
         <hr size="10" width="100%" color=azure>
      </div>
   </body>
   <footer>
      <!--
       footer message
       ----------------
       Disclaimer: The contents on the website if for general awareness only 
       Author contact information
      -->
      <strong>
      <p>If you are experiencing a life-threating emergency, please exit out of the website and call (100) to connect to the nearest Police Office.<br>
         Nirvan does not endorse or recommend any health workers or agencies.<br>
         The contents on this website are for educational purposes only and are not intended to be a substitute for a professional diagnosis or treatment.
      </p>
      <p>Author: Shreeja Dahal<br>
      <p>Contact Info:
         <a href="mailto:sdahal2@ramapo.edu">Email</a>
         <a href ="https://github.com/ShreejaDahal">Github</a>
         <a href="https://www.linkedin.com/in/shreeja-dahal/">LinkedIn</a>
      </p>
   </footer>
</html>
