<html lang="en">

<head>
	<link rel="stylesheet" href="static/styles/main_index.css">
	<link rel="stylesheet" href="static/styles/nav_style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
	<link href="assets/css/feather.css" rel="stylesheet" type="text/css"> </head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Title of the page-->
<title>Main Page</title>
<header id="top_head" class="top_header" data-header-fix-moments="500" data-header-fix-effect="slide">
	<!--
      Navigation bar
      ---------------
      Contains Home, About, Resources, Find Support, and Contact US tab 
      -->
	<div class="navigation_bar">
	<div class = "menu_options">
	<a href="connect.html">Find Support</a>
 	<a href="contact.html">Contact Us</a>
 	<a href="bio.html">About</a>
 	<a href="main_index.html">Home</a>
 	</div>
		<div class="options">
			<!--
            Dropdown button
            ---------------
            Contains resources for mental health and lgbtqi+
            -->
			<button class="dropdown_button">
            <i class="fa fa-align-justify"></i>
            </button>
			<div class="resources">
			<a href="support.html">Mental Health Resources</a>
			<a href="lgbtq_and_bully.html">LGBTQI+ Resources</a>
			</div>
		</div>  
	</div>
	<br>
	</div>
</header>

<body>
	<div class="main_section"> <img src="static/images/main.png">
		<p class="nirvan">NIRVAN</p>
		<p class="okay">IT'S OKAY</p>
		<p class="list"> क. To make mistakes
			<br> ख. To have bad days
			<br> ग. To be less than perfect
			<br> घ. To do what’s best for you
			<br> ङ. To be yourself
			<br> च. To get help
			<br> </p>
	</div>
	<div class="info_row">
		<div class="column">
			<a href="depression_page.html"> <img src="static/images/depressionpic.png" width:200px; height:200px;></a>
			<a href="anxiety.html"> <img src="static/images/anxiety.png" width:200px; height:200px;></a>
			<a href="bipolar.html"> <img src="static/images/bipolar.png" width:200px; height:200px;></a>
		</div>
		<div class="column">
			<a href="domestic.html"> <img src="static/images/domestic_violence.png" width:200px; height:200px;></a>
			<a href="https://www.youtube.com/watch?v=u5BAlzHtwqw"> <img src="static/images/identitypic.png" width:200px; height:200px;></a>
			<a href="pmdd.html"> <img src="static/images/PMDD.png" width:200px; height:200px;></a>
		</div>
		<div class="column">
			<a href="https://www.youtube.com/watch?v=4mrE5zgEvt4"> <img src="static/images/bullypic.png" width:200px; height:200px;></a>
			<a href="https://www.mayoclinic.org/diseases-conditions/post-traumatic-stress-disorder/symptoms-causes/syc-20355967"> <img src="static/images/PTSD.png" width:200px; height:200px;></a>
			<a href="https://www.mayoclinic.org/diseases-conditions/drug-addiction/symptoms-causes/syc-20365112"> <img src="static/images/substance_abuse.png" width:200px; height:200px;></a>
		</div>
	</div>
</body>
<!--
       footer message
       ----------------
       Disclaimer: The contents on the website if for general awareness only 
       Author contact information
   -->
<footer> <strong>
         
      <p>If you are experiencing a life-threating emergency, please exit out of the website and call (100) to connect to the nearest Police Office.<br>
         Nirvan does not endorse or recommend any health workers or agencies.<br>
         The contents on this website are for educational purposes only and are not intended to be a substitute for a professional diagnosis or treatment.
      </p>
      <p>Author: Shreeja Dahal<br>
      <p>Contact Info:
         <a href="mailto:sdahal2@ramapo.edu">Email</a>
         <a href ="https://github.com/ShreejaDahal">Github</a>
         <a href="https://www.linkedin.com/in/shreeja-dahal/">LinkedIn</a>
      </p>
   </footer>
</html>
