<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/support_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav_style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> </head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Title of the page-->
<title>Support Groups</title>
<header id="top_head" class="top_header" data-header-fix-moments="500" data-header-fix-effect="slide">
	<!--
      Navigation bar
      ---------------
      Contains Home, About, Resources, Find Support, and Contact US tab 
      -->
    <div class="navigation_bar">
      <div class="menu_options">
        <a href="connect.html">Find Support</a>
        <a href="contact.html">Contact Us</a>
        <a href="bio.html">About</a>
        <a href="main_index.html">Home</a>
      </div>
      <div class="options">
        <!--
            Dropdown button
            ---------------
            Contains resources for mental health and lgbtqi+
            -->
        <button class="dropdown_button">
          <i class="fa fa-align-justify"></i>
        </button>
        <div class="resources">
          <a href="support.html">Mental Health Resources</a>
          <a href="lgbtq_and_bully.html">LGBTQI+ Resources</a>
        </div>
      </div>
    </div>
    <br>
    </div>
</header>
<br>
<br>
<!--
      Columns
      -------------
      Contains resources from all provinces in Nepal
   -->
<div class="Banner">
	<h1 style="text-align: center" class="animate__animated animate__bounceInDown">Find the right resources nearby!</h1> </div>
<div class="info_row"> <strong>
         <p>Province No 1</p>
      </strong>
	<div class="column">
		<a href="http://koshihospital.gov.np"> <img src="static/images/Koshi.png" height="400px" width="400px"></a>
		<div class="description">Koshi Zonal Hospital</div>
	</div>
	<div class="column">
		<a href="http://www.nobelmedicalcollege.com.np/"> <img src="static/images/nobel.png" height="400px" width="400px"></a>
		<div class="description">Nobel Medical College</div>
	</div>
	<div class="column">
		<a href="http://www.bpkihs.edu"> <img src="static/images/BP.png" height="400px" width="400px"></a>
		<div class="description">B.P Koirala Institude of Health Sciences</div>
	</div>
	<hr size="10" width="100%" color=a zure> <strong>
         <p>Bagmati Province</p>
      </strong>
	<div class="column">
		<a href="https://nmcbir.edu.np"> <img src="static/images/Nmc.png" height="400px" width="400px"></a>
		<div class="description">Janaki Medical College</div>
	</div>
	<div class="column">
		<a href="https://www.janakimedicalcollege.edu.np/"> <img src="static/images/Janaki.png" height="400px" width="400px"></a>
		<div class="description">National Medical College</div>
	</div>
	<div class="column">
		<a href="https://nwchelpline.gov.np/service-mapping/detail/157-CMC-Nepal?lang=en"> <img src="static/images/khabar.png" height="400px" width="400px"></a>
		<div class="description">CMC-Nepal-Siraha</div>
	</div>
	<hr size="10" width="100%" color=a zure> <strong>
         <p>Province No 2</p>
      </strong>
	<div class="column">
		<a href="http://www.cmc.edu.np"> <img src="static/images/cmc.png" height="400px" width="400px"></a>
		<div class="description">CMC</div>
	</div>
	<div class="column">
		<a href="https://cmsnepal.edu.np"> <img src="static/images/collegemc.png" height="400px" width="400px"></a>
		<div class="description">College of Nepal Sciences</div>
	</div>
	<div class="column">
		<a href="http://tuth.org.np/"> <img src="static/images/tuth.png" height="400px" width="400px"></a>
		<div class="description">Institude of Medicine</div>
	</div>
	<hr size="10" width="100%" color=a zure> <strong>
         <p>Lumbini Province</p>
      </strong>
	<div class="column">
		<a href="http://ucms.com.np"> <img src="static/images/UCMS.png" height="400px" width="400px"></a>
		<div class="description">Universal College of Medical Sciences</div>
	</div>
	<div class="column">
		<a href="http://www.ngmc.edu.np"> <img src="static/images/NEPAL.png" height="400px" width="400px"></a>
		<div class="description">Nepalgunj Medical College</div>
	</div>
	<div class="column">
		<a href="http://www.lmc.edu.np"> <img src="static/images/Lmc.png" height="400px" width="400px"></a>
		<div class="description">Lumbini Medical College</div>
	</div>
	<hr size="10" width="100%" color=a zure> <strong>
         <p>Gandagi Province</p>
      </strong>
	<div class="column">
		<a href="https://www.facebook.com/dennycounseling"> <img src="static/images/denny.png" height="400px" width="400px"></a>
		<div class="description">Denny's Psychological Counselling Center</div>
	</div>
	<div class="column">
		<a href="https://www.facebook.com/Muktinath-Hospital-Research-Centre-Pvt-Ltd-152101938285796/"> <img src="static/images/muktinath.png" height="400px" width="400px"></a>
		<div class="description">Muktinath Hospital</div>
	</div>
	<div class="column">
		<a href="https://saphalpolyclinic.blogspot.com/"> <img src="static/images/safal.png" height="400px" width="400px"></a>
		<div class="description">Saphal Hospital</div>
	</div>
	<hr size="10" width="100%" color=a zure> <strong>
         <p>Karnali Province</p>
      </strong>
	<div class="column">
		<a href="https://kahs.edu.np"> <img src="static/images/karnali.png" height="400px" width="400px"></a>
		<div class="description">Karnali Academy of Health Sciences</div>
	</div>
	<div class="column">
		<a href="https://kalikot.dohs.gov.np/en/pages/about-us"> <img src="static/images/kalikot.png" height="400px" width="400px"></a>
		<div class="description">Province Government Health Office</div>
	</div>
	<div class="column">
		<a href="https://www.surkhet.net/p/shining-hospital-inf-nepal-surkhet/"> <img src="static/images/shining.png" height="400px" width="400px"></a>
		<div class="description">Shining Hospital</div>
	</div>
	<hr size="10" width="100%" color=a zure> <strong>
         <p>Sudurpashchim Province</p>
      </strong>
	<div class="column">
		<a href="https://nisargahospitalnepal.com/?fbclid=IwAR3cJjfw_YErR9NJHxGzBoRHjUcBUj2OGjhxajj61tE0eMsws4uBDX29dfc"> <img src="static/images/nis.png" height="400px" width="400px"></a>
		<div class="description">Nisargha Hospital</div>
	</div>
	<div class="column">
		<a href="https://www.baitadihospital.gov.np/en"> <img src="static/images/baidati.png" height="400px" width="400px"></a>
		<div class="description">Baitadi District Hospital</div>
	</div>
	<div class="column">
		<a href="https://www.google.com/search?q=bayalpata+hospital"> <img src="static/images/bayalpata.png" height="400px" width="400px"></a>
		<div class="description">BayalPata Hospital</div>
	</div>
	<hr size="10" width="100%" color=a zure> </div>

</html>
