<html lang="en">

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/support_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav_style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> </head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Title of the page-->
<title>Support Groups</title>
<header id="top_head" class="top_header" data-header-fix-moments="500" data-header-fix-effect="slide">
	<!--
      Navigation bar
      ---------------
      Contains Home, About, Resources, Find Support, and Contact US tab 
      -->
	    <div class="navigation_bar">
      <div class="menu_options">
        <a href="connect.html">Find Support</a>
        <a href="contact.html">Contact Us</a>
        <a href="bio.html">About</a>
        <a href="main_index.html">Home</a>
      </div>
      <div class="options">
        <!--
            Dropdown button
            ---------------
            Contains resources for mental health and lgbtqi+
            -->
        <button class="dropdown_button">
          <i class="fa fa-align-justify"></i>
        </button>
        <div class="resources">
          <a href="support.html">Mental Health Resources</a>
          <a href="lgbtq_and_bully.html">LGBTQI+ Resources</a>
        </div>
      </div>
    </div>
    <br>
    </div>
</header>

<body>
	<div class="support"> <img src="static/images/new_support.png">
		<div class="intro">
			<p>Articles, Support Groups, and Videos can be great ways to learn about mental health issues,connect with others, and find support. </p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="info_row"> <strong>
            <p>Articles</p>
         </strong>
         <div class="column">
            <a target="_blank" href="https://www.who.int/health-topics/mental-health#tab=tab_1">
            <img src="static/images/mhealth.png" height="400px" width="400px" ></a>
            <div class ="description">Understand Mental Health</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.womenshealth.gov/menstrual-cycle/premenstrual-syndrome/premenstrual-dysphoric-disorder-pmdd">
            <img src="static/images/cycle.png"height="400px" width="400px"></a>
            <div class ="description">Understand PMDD</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.nimh.nih.gov/health/topics/bipolar-disorder">
            <img src="static/images/bi.png"height="400px" width="400px"></a>
            <div class ="description">Understand Bipolar</div>
         </div>
         <hr size="10" width="100%" color=azure>
         <strong>
            <p>Facebook Groups</p>
         </strong>
         <div class="column">
            <a target="_blank" href="https://www.facebook.com/groups/1535872206658543/">
            <img src="static/images/mental_health_pic.png" height="400px" width="400px" ></a>
            <div class ="description">Mental Health Awareness and Support Group</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.facebook.com/groups/6938491060/">
            <img src="static/images/bipolar_pic.png"height="400px" width="400px"></a>
            <div class ="description">Bipolar Support Group</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.facebook.com/groups/1987699868162782/">
            <img src="static/images/pmdd_pic.png"height="400px" width="400px"></a>
            <div class ="description">PMDD/ Severe PMS support & information group</div>
         </div>
         <br>
         <br>
         <br>
         <hr size="10" width="100%" color=azure>
         <strong>
            <p>Awareness Videos</p>
         </strong>
         <div class="column">
            <a target="_blank" href="https://www.youtube.com/results?search_query=how+to+cope+with+anxiety+and+depression">
            <img src="static/images/get_help.png" height="400px" width="400px" ></a>
            <div class ="description">Mental Health Issues Awareness</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.youtube.com/results?search_query=Living+with+PMDD+and+how+to+feel+better">
            <img src="static/images/hormone.png"height="400px" width="400px"></a>
            <div class ="description">Living with PMDD</div>
         </div>
         <div class="column">
            <a target="_blank" href="https://www.youtube.com/results?search_query=bipolar+help">
            <img src="static/images/bipolar_video.png"height="400px" width="400px"></a>
            <div class ="description">Bipolar Help</div>
         </div>
         <hr size="10" width="100%" color=azure>
      </div>
   </body>
   <!--
       footer message
       ----------------
       Disclaimer: The contents on the website if for general awareness only 
       Author contact information
      -->
   <footer>
      <p>If you are experiencing a life-threating emergency, please exit out of the website and call (100) to connect to the nearest Police Office.<br>
         Nirvan does not endorse or recommend any health workers or agencies.<br>
         The contents on this website are for educational purposes only and are not intended to be a substitute for a professional diagnosis or treatment.
      </p>
      <p>Author: Shreeja Dahal<br>
      <p>Contact Info:
         <a href="mailto:sdahal2@ramapo.edu">Email</a>
         <a href ="https://github.com/ShreejaDahal">Github</a>
         <a href="https://www.linkedin.com/in/shreeja-dahal/">LinkedIn</a>
      </p>
   </footer>
</html>
